:root {
    --max-width: 1200px;
    --theme-red: #be1522;
    --theme-blue: #567091;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

input {
    outline: none;
}

button {
    cursor: pointer;
}
